@model IEnumerable<dynamic>
s
@{
    ViewData["Title"] = "Sales by Product";
}

<h1>Sales by Product</h1>

<table class="table">
    <thead>
    <tr>
        <th>Invoice Number</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total Price</th>
        <th>Invoice Date</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var sale in Model)
    {
        <tr>
            <td>@sale.InvoiceNo</td>
            <td>@sale.Quantity</td>
            <td>@sale.UnitPrice</td>
            <td>@sale.TotalPrice</td>
            <td>@sale.InvoiceDate</td>
        </tr>
    }
    </tbody>
</table>